body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #000000, #006EFF);
}

/* HEADER */
.header {
    background: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.header h2 {
    color: #050A30;
}

.header a {
    text-decoration: none;
    color: #006EFF;
    font-weight: bold;
}

.header a:hover {
    color: #050A30;
}

/* CONTENIDO */
.content {
    padding: 40px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD INDIVIDUAL */
.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* TITULO */
.card h3 {
    color: #050A30;
    margin-bottom: 10px;
}

/* TEXTO */
.card p {
    color: #555;
    margin-bottom: 15px;
}

/* BOTÓN */
.card button {
    background: linear-gradient(to right, #050A30, #006EFF);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
