body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #006EFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR */
.container {
    width: 100%;
    max-width: 700px;
}

/* FORMULARIO */
.formulario {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #006EFF;
    font-weight: bold;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

/* CAMPOS */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.full {
    grid-column: span 2;
}

input, select, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* TEXTAREA */
textarea {
    resize: none;
    height: 80px;
}

/* CHECKBOX */
.checkbox {
    align-items: flex-start;
}

/* BOTÓN */
button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background: #006EFF;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #004fcc;
}
