/* BODY */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #006EFF);
    margin: 0;
  }
  
  /* NAVBAR */
  .navbar {
    background: white !important;
    padding: 12px 25px;
  }
  
  /* LINKS */
  .navbar .nav-link {
    color: #050A30 !important;
    font-weight: 500;
  }
  
  .navbar .nav-link:hover {
    color: #006EFF !important;
  }
  
  /* BOTONES */
  .navbar .btn-light {
    background-color: #006EFF;
    color: white;
    border: none;
    border-radius: 20px;
  }
  
  .navbar .btn-outline-light {
    border: 2px solid #006EFF;
    color: #006EFF;
    border-radius: 20px;
  }
  
  .navbar .btn-outline-light:hover {
    background-color: #006EFF;
    color: white;
  }
  
  /* BANNER (ARREGLADO) */
  .bg-light {
    background:white;
    color: #000000;
    padding: 70px 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
  }
  
  /* CONTENEDOR CURSOS (MEJORADO) */
  section.container {
    background: white;
    margin-top: -60px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.25);
  }
  
  /* TITULOS */
  h2 {
    color: #050A30;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    background: white;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  }
  
  /* IMÁGENES */
  .card img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    background-color: #ddd;
  }
  
  /* BOTONES CURSOS */
  .btn-primary {
    background: linear-gradient(to right, #050A30, #006EFF);
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
  }
  
  .btn-primary:hover {
    opacity: 0.9;
  }
  
  /* FOOTER */
  footer {
    background-color: #000000;
    color: white;
    padding: 15px;
    margin-top: 40px;
  }
  